export DEBUG=0
export DJANGO_SECRET_KEY={your django secret key}
export DJANGO_ENVIRONMENT={environment (prod, dev, local, staging)}
export CONSUMER_KEY={Twitter consumer key}
export CONSUMER_SECRET={Twitter consumer secret}
export TWITTER_APP_NAME={twitter app name}
export PG_HOST={db host name}
export PG_USER={db user name}
export PG_PASSWORD={db password}
export VIRTUAL_HOST='yourdomain.com'
export VIRTUAL_PORT=8000
export LETSENCRYPT_HOST='yourdomain.com'
export DJANGO_ALLOWED_HOSTS='yourdomain.com localhost 127.0.0.1 {your host ip address}'
export DJANGO_SETTINGS_MODULE=tweet_analyzer.settings.prod