{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
	<form role="form"
          action="{% url 'researcher_login' %}"
          method="post">
        {% csrf_token %}
		<div class="container-fluid" style="padding: 50px;">
			<div class="row">
				<div class="col-sm-4"></div>
					<div class="col-sm-4">
	        			<h2>Please Login</h2>
	        		</div>
	        	</div>
	        </div>

            <div class="row">
            	<div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-group">
	        			{{ form }}
	        		</div>
	        	</div>
	        </div>
            <div class="row">
            	<div class="col-sm-4"></div>
                <div class="col-sm-6">
	        		<button type="submit" class="btn btn-success">Sign in</button>
	        	</div>
	        </div>
    	</div>
    </form>
{% endblock %}