{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block jsfiles %}
    <script type="text/javascript" src="{% static 'js/search/search.js' %}"></script>
{% endblock %}
{% block content %}
        <div class="container-fluid" style="padding: 50px;">
        <h1>Twitter Search</h1>
        <div style="main">
            <div class="row">
                <p>See <a href="https://developer.twitter.com/en/docs/tweets/search/api-reference/premium-search">Search Documentation</a> for details about each parameter</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="searchq">query</label>
                        <input type="text" class="form-control" id="searchq" placeholder="query" required>
                    </div>
                    <div class="form-group">
                        <label for="maxrequestcount">Max Requests (so as not to use up our allocation)</label>
                        <input type="number" class="form-control" id="maxrequestcount" placeholder="1 - 10" max="10" min="1" maxlength="2" required>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="searchFromDate">Search From</label>
                        <input type="datetime-local" class="form-control" id="searchFromDate" placeholder="Search From Date">
                    </div>
                    <div class="form-group">
                        <label for="searchToDate">Search To</label>
                        <input type="datetime-local" class="form-control" id="searchToDate" placeholder="Search To Date">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn-primary" onclick="SearchTwitter.search();">Search Tweets</button>
                    <button class="btn-primary" onclick="SearchTwitter.export();">Export Data</button>
                </div>
                <div class="col-sm-6 alert alert-danger d-none" id="errorMessage">
                    <p><strong>ERROR!</strong> query and count fields are required!  Max length must be a number from 1-10.</p> 
                </div>
            </div>
            <div class="row">

                <h1>Returned Data</h1>

                <div class="col-sm-12">
                </div>
                <div id="returnedJson">
                </div>
            </div>
        </div>
    </div>
{% endblock %}