{% extends "base.html" %}
{% load static %}
{% block title %}Search{% endblock %}
{% block jsfiles %}
    <script type="text/javascript" src="{% static 'js/search/search.js' %}"></script>
{% endblock %}
{% block content %}
        <div class="container-fluid" style="padding: 50px;">
        <h1>Twitter Search</h1>
        <div style="main">
            <div class="row">
                <p>See <a href="https://developer.twitter.com/en/docs/tweets/search/api-reference/premium-search">Search Documentation</a> for details about each search field.</p>
                <p>&nbsp;&nbsp;See <a href="https://developer.twitter.com/en/docs/twitter-api/v1/tweets/search/overview/premium#AvailableOperators">Query Documentation</a> for details about building queries.</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="searchq">Free-form search query</label>
                        <input type="text" class="form-control" id="searchq" placeholder="query" required>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="searchFromDate">Search From</label>
                        <input type="datetime-local" class="form-control" id="searchFromDate" placeholder="Search From Date">
                    </div>
                    <div class="form-group">
                        <label for="searchToDate">Search To</label>
                        <input type="datetime-local" class="form-control" id="searchToDate" placeholder="Search To Date">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="btn-primary" onclick="SearchTwitter.search(true, true);">Get Counts</button>
                    <button class="btn-primary" onclick="SearchTwitter.search(true, false);">Export Data</button>
                </div>
                <div class="col-sm-6 alert alert-danger d-none" id="errorMessage">
                    <p><strong>ERROR!</strong> query field is required!</p> 
                </div>
            </div>
            <br/>
            <div class="row">
                <h1>Previous Searches</h1>
            </div>
            <div class="row">

                <div class="col-sm-12">
                </div>
                <div id="returnedJson">
                </div>
            </div>
        </div>
    </div>
{% endblock %}