{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
	    <div class="container-fluid" style="padding: 50px;">
            <div class="jumbotron">
                <h1>About Twitter Analyzer</h1>
                <div>
                    <div class="row">
                        <p>Tweets For Research was set up to help researchers get the data they need for their research project.  The author, Susan Enneking, initially wrote a quick and dirty php application hosted on Heroku for her daughter-in-law, Melody Alexander to use.  Melody needed the data to complete her master's thesis in Journalism at the University of Kansas.</p>
                        <p>Melody thought it would be useful to others and Susan needed something to work on as a portfolio project, so here it is.</p>
                        <p>Because Twitter sets limits and rules on their data, the site is not open for registration.  But, if you want to check it out, we'd be happy to add you as a user and give you a handful of tweet requests to play with.</p>
                        <p>You can also look at the code at <a href="https://github.com/SusanEnneking/TweetAnalyzer">this location</a>. And use it freely if you'd rather do that.</p>
                    </div>

                    <div class="row">
                        <p>If you want help or have questions about any of this, please <a href="https://ennekingsystemsolutions.com/index.php/contact/">contact us.</a> We'd be happy to help!</p>
                    </div>
                    <div class="row">
                        <p><strong>Thanks for visiting!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}